name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          lfs: true # Wajib untuk menarik data CSV asli dari Git LFS

      - name: Checkout LFS objects
        run: git lfs pull # Memastikan file ditarik sepenuhnya

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas boto3

      - name: Run MLflow Project (retrain)
        run: |
          cd MLProject
          # Hapus folder lama agar tidak konflik
          rm -rf mlruns 
          # Paksa menggunakan SQLite
          touch mlflow.db
          export MLFLOW_TRACKING_URI="sqlite:///$(pwd)/mlflow.db"
          mlflow run . --env-manager=local