name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas boto3

      - name: Run MLflow Project (retrain)
        run: |
          cd MLProject
          rm -rf mlruns
          export MLFLOW_TRACKING_URI=sqlite:///mlflow.db
          mlflow run . --env-manager=local

      - name: List files (Debug)
        run: |
          ls -R MLProject