name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Checkout LFS objects
        run: git lfs pull 

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas boto3

      - name: Run MLflow Project (retrain) - local env
        run: |
          cd MLProject
          # Bersihkan sisa folder tracking lama agar tidak konflik
          rm -rf mlruns
          
          # Inisialisasi file database jika belum ada
          touch mlflow.db
          
          # Paksa MLflow menggunakan SQLite dengan path absolut agar sinkron
          export MLFLOW_TRACKING_URI="sqlite:///$(pwd)/mlflow.db"
          
          mlflow run . --env-manager=local

      - name: List files (Debug)
        run: |
          ls -R MLProject